.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features__list {
  display: flex;
}

.features__list__item:not(:last-child) {
  margin-right: 30px;
}

.features__list__thamb {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-command-color);
}

.features__list__subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__list__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
