.work__wrapper {
  padding-top: 0px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}
.work-list__thamb {
  position: relative;
}

.work-list__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  color: var(--primari-white-color);
  background: rgba(47, 48, 58, 0.8);
  margin: 0px;
}
