.social-list {
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  padding: 0;
}
.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list__icon_color-light {
  fill: var(--icons-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primari-white-color);
  }
}

.social-list__svg {
  width: 20px;
  height: 20px;
}
